{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.Nomenclature }}</h2>
 
        </div>
      </div>


        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Device Info</legend>
                                <div class="form-group">
                    {{ form.Nomenclature.label(class="form-control-label") }}

                    {% if form.Nomenclature.errors %}
                        {{ form.Nomenclature(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Nomenclature.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Nomenclature(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.Manufacturer.label(class="form-control-label") }}

                    {% if form.Manufacturer.errors %}
                        {{ form.Manufacturer(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Manufacturer.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Manufacturer(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.Agent.label(class="form-control-label") }}

                    {% if form.Agent.errors %}
                        {{ form.Agent(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Agent.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Agent(class="form-control form-control-lg") }}
                    {% endif %}
                </div>



                <div class="form-group">
                    {{ form.inventory_number.label(class="form-control-label") }}

                    {% if form.inventory_number.errors %}
                        {{ form.inventory_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.inventory_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.inventory_number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.Serial_number.label(class="form-control-label") }}

                    {% if form.Serial_number.errors %}
                        {{ form.Serial_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Serial_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Serial_number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.Installation_Date.label(class="form-control-label") }}

                    {% if form.Installation_Date.errors %}
                        {{ form.Installation_Date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Installation_Date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Installation_Date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.Operation.label(class="form-control-label") }}

                    {% if form.Operation.errors %}
                        {{ form.Operation(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Operation.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Operation(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.Location.label(class="form-control-label") }}

                    {% if form.Location.errors %}
                        {{ form.Location(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Location(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.warrantly_period.label(class="form-control-label") }}

                    {% if form.warrantly_period.errors %}s
                        {{ form.warrantly_period(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.warrantly_period.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.warrantly_period(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.Contact_data_of_manufacturer.label(class="form-control-label") }}

                    {% if form.Contact_data_of_manufacturer.errors %}s
                        {{ form.Contact_data_of_manufacturer(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Contact_data_of_manufacturer.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Contact_data_of_manufacturer(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.Department.label(class="form-control-label") }}

                    {% if form.Department.errors %}s
                        {{ form.Department(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Department.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Department(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.cause_of_fault.label(class="form-control-label") }}

                    {% if form.cause_of_fault.errors %}
                        {{ form.cause_of_fault(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.cause_of_fault.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.cause_of_fault(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.fault_description.label(class="form-control-label") }}

                    {% if form.fault_description.errors %}
                        {{ form.fault_description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fault_description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fault_description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.Technician_name.label(class="form-control-label") }}

                    {% if form.Technician_name.errors %}
                        {{ form.Technician_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Technician_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Technician_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.start_date_of_job_order.label(class="form-control-label") }}

                    {% if form.start_date_of_job_order.errors %}
                        {{ form.start_date_of_job_order(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.start_date_of_job_order.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.start_date_of_job_order(class="form-control form-control-lg") }}
                    {% endif %}
                </div> 
                
                <div class="form-group">
                    {{ form.Action_taken.label(class="form-control-label") }}

                    {% if form.Action_taken.errors %}
                        {{ form.Action_taken(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Action_taken.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Action_taken(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

               
               
                <div class="form-group">
                    {{ form.predictive_maintenance_Scheduling.label(class="form-control-label") }}

                    {% if form.predictive_maintenance_Scheduling.errors %}
                        {{ form.predictive_maintenance_Scheduling(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.predictive_maintenance_Scheduling.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.predictive_maintenance_Scheduling(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                 

                <div class="form-group">
                    {{ form.Price.label(class="form-control-label") }}

                    {% if form.Price.errors %}
                        {{ form.Price(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Price.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Price(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
    


            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
